html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #DEDCD9;
}

.garage {
    opacity: 0;
    transition: opacity 0.8s ease;
}

.garage.show-garage {
    opacity: 1;
}

.redirect_dashboard {
    position: fixed;
    font-family: Audiowide;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 0.5rem;
    background: rgba(21, 21, 21, 0.8);
    backdrop-filter: blur(5px);
    z-index: 10;
    top: 1rem;
    border-radius: 1rem;
    justify-content: space-around;
}

.form-card {
    border: none !important;
}

.garage-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 2rem;
}

.past-orders-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 2rem;
}

input {
    border: solid 5px #171717;
}

.redirect_dashboard a {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #DEDCD9;
    transition: color 0.3s ease;
}

.redirect_dashboard a * {
    position: relative;
    z-index: 3;
}

.redirect_dashboard a::before {
    position: absolute;
    content: "";
    border-radius: 0.5rem;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #171717;
    transition: left 0.3s ease, top 0.3s ease;
}

.redirect_dashboard a:hover::before {
    left: 0;
    top: 0;
}

.redirect_dashboard a:hover {
    color: #38C498;
}

.page-title {
    font-family: Audiowide;
    padding-top: 10rem;
}

.cars {
    padding-top: 5rem;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 1s ease;
}

.cars.show-cars {
    transform: translateY(0);
    opacity: 1;
}

.service_card {
    font-family: Oxanium;
    width: 25rem;
    overflow: hidden;
    background-color: #504f4f;
    transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
    border: none;
    border-radius: 1rem;
}

.user-card {
    font-family: Oxanium;
    width: 25rem;
    overflow: hidden;
    background-color: #504f4f;
    transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
    border: none;
    border-radius: 1rem;
}

.past_orders {
    width: 18rem;
}

.past_orders img {
    width: 80%;
    display: block;
    margin: auto;
}

.invoice-form,
.remove-wishlist-form {
    padding: 0;
}

.discussion-form {
    background-color: #DEDCD9;
}

.service_card img {
    transition: transform 0.5s ease;
}

.service_card div {
    background-color: black;
    background-color: #cbcac7;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.user-card {
    background-color: #cbcac7;
}

.user-card div a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.user-card:hover {
    transform: scale(1.04);
}

.rental-history-table th,
.rental-history-table td {
    background-color: #DEDCD9 !important;
    border-color: #cbcac7;
}

.service_card div h5 {
    color: black;
}

.service_card div a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.service_card div a:hover {
    color: #38C498;
}

#user-profile-link:hover {
    color: white;
}

.service_card:hover {
    /*box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6); */
    transform: scale(1.04);
}

.service_card:hover img {
    transform: scale(0.95);
}

.delete_reply {
    background-color: transparent;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.delete_reply:hover {
    color: #38C498;
}

form {
    padding: 1rem;
}

form .remove_wishlist,
.return_car {
    position: relative;
    overflow: hidden;
    background-color: #171717;
    color: #38C498;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: color 0.3s ease;
}

form .remove_wishlist *,
.return_car *,
.add_wishlist *,
.add_rent * {
    position: relative;
    z-index: 5;
}

form .remove_wishlist:hover,
.return_car:hover {
    color: #171717;
}

form .remove_wishlist::before,
.return_car::before {
    position: absolute;
    content: "";
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #38C498;
    transition: left 0.3s ease, top 0.3s ease;
}

form .remove_wishlist:hover::before,
.return_car:hover::before {
    left: 0;
    top: 0;
}

form .add_wishlist,
.add_rent {
    position: relative;
    overflow: hidden;
    background-color: #38C498;
    color: #171717;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: color 0.5s ease;
}

form .add_wishlist:hover,
.add_rent:hover {
    color: #38C498;
}

form .add_wishlist::before,
.add_rent::before {
    position: absolute;
    content: "";
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #171717;
    transition: left 0.3s ease, top 0.3s ease;
}

form .add_wishlist:hover::before,
.add_rent:hover::before {
    left: 0;
    top: 0;
}

.pagination {
    border: 1px #504f4f !important;
}

.pagination .page-link {
    color: #38C498 !important;
    background-color: #171717 !important;
    border: 1px solid #dee2e6 !important;
}

.pagination .page-item.active .page-link {
    background-color: #38C498 !important;
    color: #171717 !important;
}

.pagination_container nav p {
    padding: 2rem;
}

.filter-review-brand {
    font-family: Oxanium;
    padding-top: 5rem;
    text-align: center;
}

.filter-review-brand form {
    width: 30%;
    font-weight: bolder;
    margin: auto;
}

.submit_button {
    background-color: #38C498;
    color: #171717;
}

.submit_button:hover {
    background-color: #171717;
    color: #38C498;
}

/* ===============================
   MOBILE (0px – 768px)
   =============================== */
@media (max-width: 768px) {

    .redirect_dashboard {
        top: 0;
        border-radius: 0rem;
        width: 100% !important;
    }

    .garage-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .past-orders-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


/* ===============================
   TABLET (769px – 1024px)
   =============================== */
@media (min-width: 769px) and (max-width: 1024px) {

    .garage-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .past-orders-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}